{% extends 'login-base.html' %}
{% load static %}
{% block content %}
 <main id="main" class="main">

<div style="margin-left: 200px" >
   <br><br>
  <div class="jumbotron" style="margin-bottom:0px;">
    <h1 class="display-4">Hello Student,</h1>
    <p class="lead">and Welcome to Online Examination System</p>
    <p>Select any of them to access into the system</p>
    <p class="lead">
      <a class="btn btn-primary " href="studentsignup" style="border-radius: 0%;" role="button">Create Your Account</a>
      <a class="btn btn-success " href="studentlogin" style="border-radius: 0%;" role="button">Login Now</a>
    </p>
    <br><br><br><br><br><br>
    </div>

</div>


</main>
{% endblock content %}